@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url(cursor.png), default;
  background: url("anotherone.png");
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  font-family: "Inter";
  color: white;
}

.glass {
  background-color: rgba(255, 255, 255, .3);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 15px;
  height: 320px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: drop-shadow(0 0 5rem black);
}



img {
  width: 200px;
}

#contacts {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33%, 33%, 33%;
  column-gap: 7px;
  row-gap: 10px;
  cursor: url("click.png"), pointer;
}

button {
  font-family: "Inter";
}

.contact {
  padding: 1px;
  background: rgba(255, 255, 255, .2);
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 15px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  cursor: url("click.png"), pointer;
  }

.icons {
  width: 20px;
  padding-right: 20px;

}

#replit {
  filter: hue-rotate(360deg);
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1 {
    cursor: url("text.png"), text;
  }


@media (max-width: 500px) {
  html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("anotherone.png");
  background-position: center;
  background-size: 300%;
  background-repeat: no-repeat;
  font-family: "Inter";
  color: white;
}

  .glass {
  background-color: rgba(255, 255, 255, .3);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 15px;
  height: 550px;
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  filter: drop-shadow(0 0 5rem black);
}

  #contacts {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33%, 33%, 33%;
  column-gap: 5px;
  row-gap: 5px;
  }

  
.contact {
  padding: 1px;
  background: rgba(255, 255, 255, .2);
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 15px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
}
