@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url(/Cursors/cursor.png), default;
  background: url("backbackgroundground.png");
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  font-family: "Inter";
  color: white;
}


.glass {
  background-color: rgba(255, 255, 255, .3);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 15px;
  height: 300px;
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: drop-shadow(0 0 5rem black);
}

#itsme {
  width: 200px;
  cursor: none;
  transition: .420s;
}

#itsme:hover {
  width: 206.9px;
  cursor: none;
  filter: drop-shadow(0 0 .5rem white);
}

#wrapme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
}

#contacts {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33%, 33%, 33%;
  column-gap: 16px;
  row-gap: 16px;
  cursor: url(/Cursors/click.png), pointer;
}

button {
  font-family: "Inter";
}

.contact {
  background: rgba(255, 255, 255, .2);
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 15px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  cursor: url(/Cursors/click.png), pointer;
  transition: .42s;
}

.contact:hover {
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 15px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  cursor: url(/Cursors/click.png), pointer;
}

.icons {
  width: 20px;
  margin-right: 20px;
}

.nexticons {
  width: 30px;
  margin-left: 10px;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

#parentText {}

#childONE {
  cursor: url(/Cursors/text.png), text;
  margin-bottom: 0px;
}

#childTWO {
  cursor: url(/Cursors/text.png), text;
  width: 300px;
  margin-left: 31px;
  /* outline: red solid 1px */
}

@media (max-width: 500px) {
  html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("anotherone.png");
    background-position: center;
    background-size: 300%;
    background-repeat: no-repeat;
    font-family: "Inter";
    color: white;
  }

  .glass {
    margin-top: 6.9em;
    background-color: rgba(255, 255, 255, .3);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    height: 690px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    filter: drop-shadow(0 0 5rem black);
  }

  #contacts {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33%, 33%, 33%;
    column-gap: 5px;
    row-gap: 5px;
  }


  .contact {
    padding: 1px;
    background: rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 15px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
  }

  #itsme {
    width: 200px;
    cursor: none;
  }

}